.sign-page{
  background-image:radial-gradient(ellipse at center, rgba(5, 5, 5, 0) 40%,rgba(17, 16, 16, 0.5) 60%,rgb(0, 0, 0) 100%), url(26895.jpg);
  
  background-size:cover; 
  background-repeat:  no-repeat;
  background-position: center;
  // margin-top:40px;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  
  width: auto;
  z-index: 1;
  .sign-contents{
    text-align: center;
    padding-top:50px;
    color:#fff;
    .sign-up{
      font-family: 'Times New Roman', Times, serif;
      font-size:30px;
      padding-top:10px;
    }
    .one-signed{
      .field{
        padding-top:15px;
        color:black;
        .nickname{
          color:#fff;
        }
        .sign-form{
          width:250px;
          height:40px;
          font-size:20px;
        }
        .mail-adress{
          color:#fff;
        }
        .password{
          color:#fff;

        }
      }
      .actions{
        padding-top:40px;
        .sing-btn{
          border: 1px solid black;
          background: #fff;
          color: black;
          font-size: 14px;
          text-decoration: none;
          width:200px;
          height:50px;
          text-align: center;
          line-height: 30px;
          cursor: pointer;
        }
      }
    }
  }
}