.edit-comment-contents
  = form_for [@tweet,@comment] do |f|
    .comments-edit
      %h3 編集する
      .edit-form
        = f.label :コメント
        = f.text_field :text,class:"commenter-text_field"
      .commenter-actions
        = f.submit "SENT",class:"comment-edit-btn"
