.new-contents{
  background: url(backgroundimage.jpg);
  height: 100vh;
  width:100%;
  
  .one-new-tweets{
    text-align: center;
    padding-top:30px;
    h3{
      font-size:30px;
      text-align: center;
    }
    .new-form{
      padding-top:20px;
      .new-text{
        font-size:20px;
      }
      .new-label{
        font-size:20px;
      }
      .new-link{
        width:250px;
        height:40px;
        font-size:20px;
      }
      .new-links{
        width:250px;
        height:40px;
        font-size:20px;
        margin-right: 15px;
      }
      .video-label{
        font-size:20px;
        text-align: center;
      }
      .new-img{
        display:inline;
      }
    }
    .new-category-form{
      margin-right:100px;
      padding-top:20px;
      .category-label{
        padding-right:10px;
        font-size:20px;
      }
      .category-select-box{
        width:100px;
        height:40px;
        cursor: pointer;
      }
    }
    .actions-new{
      padding-top:40px;
      .new-btn{
        border: 1px solid black;
        background: #fff;
        color: black;
        font-size: 14px;
        text-decoration: none;
        width:200px;
        height:50px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
      }
    }
  }
}