.header{  
  width:100%;
  background: url(backgroundimage.jpg);
  
  .header-name{
    text-align: center;
    a{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 50px;
      text-decoration: none;
      font-weight: bold;
      color:rgb(180, 177, 177);
      cursor: pointer;
    }
  }
  .nav{
    .nickname-nav{
      font-size: 25px;
      color:rgb(92, 90, 90);
      .header-icon{
        padding-left:10px;
      }
      a{
        border: 1px solid black;
        background: #fff;
        color: black;
        font-size: 14px;
        text-decoration: none;
        padding: 10px 16px;
        border-radius: 4px;
        text-align: center;
        line-height: 30px;
      }
      .link-btn{
        float: right;
      }
    }
    
  }
  .login-nav{
    float: right;
    a{
      border: 1px solid black;
      background: #fff;
      color: black;
      font-size: 14px;
      text-decoration: none;
      padding: 10px 16px;
      border-radius: 4px;
      text-align: center;
      line-height: 30px;
    }
  }
}