.category-new-contents{
  height:300vh;
  width:100%;
  background: url(backgroundimage.jpg);

  .category-genre{

    padding-top:30px;
    margin-bottom:100px;
    

    .one-genre{
      padding-left:30px;
      padding-bottom: 30px;
      
      .tenant-name{
        padding-bottom: 10px;
        .category-home-icon{
          color:red;
          font-size:18px;
          float: left;
          margin-right:6px;
          
        }
        .category-tweet-name{
          font-size:20px;
          margin-bottom: 10px;
          font-family: 'Times New Roman', Times, serif;

        }
        .category-user-icon{
          color: blue;
          padding-left:50px;
          font-size:18px;


          a{
            text-decoration: none;
            color: #666;
            font-size:18px;
          }
        }
        .category-show-icon{
          color: blue;
          padding-left:50px;
          font-size:18px;

          a{
            text-decoration: none;
            color: black;
            font-size:18px;

          }
        }
      }
      .video-category{
        margin-top:10px;
        text-align: center;
      }
      .img-category{
        text-align: center;
      }
    }
  }
  .category-pagenate{
    text-align: center;

  }
}