.category-index-contents
  .category-all
    = form_tag("/categories/new",method: :get) do
      .cheack_box-contents
        = collection_check_boxes :category, :keywords, Category.all, :id, :name
      .search-form-btn
        = submit_tag '検索',class:"saerch__bottun"