.show-contents{
  background: url(backgroundimage.jpg);
  height:300vh;
  width: 100%;
  .show-name{
    text-align: center;
    .myuser-name{
      font-size:20px;
      padding-top:20px;
    }
  }
  .show-all{
    margin:20px 0;
    .one-show-content{
      padding-bottom: 20px;
      .title-show-name{
        .show-home-icon{
          color:red;
          font-size:18px;
          float: left;
          margin:0 6px;
        }
        .user_show-tweet-name{
          font-size:20px;
          margin-bottom: 10px;
          font-family: 'Times New Roman', Times, serif;

        }
        .show-edit-icon{
          color: blue;
          font-size:18px;
          a{
            text-decoration: none;
            color: black;
            font-size:18px;
          }
        }
        .show-delete-icon{
          color: blue;
          font-size:18px;
          a{
            text-decoration: none;
            color: black;
            font-size:18px;
          }
        }
        .show-second-icon{
          color: blue;
          font-size:18px;
          padding-left:50px;

          a{
            text-decoration: none;
            color: black;
            font-size:18px;
          }
        }
        .show-text{
          text-align: center;
          font-size:20px;
        }
      }

      .user-show-video{
        text-align: center;
      }
      .user-show-img{
        text-align: center;

      }
    }
  }
  .show-page_tag{
    text-align: center;
  }
}